*{
    background-color:darkcyan;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}


.snow1{
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 100%;
    border-style:ridge;
    z-index:3 ;
}
.snow2{
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 100%;
    border-style:ridge;
    z-index: 2;
}
.snow3{
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    bottom: 150px;
    left: 110px;
    border-style:ridge;
    z-index: 1;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.hat1 {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 10%;
    position: relative;
    top: 23px;
    left: 22px;
    z-index: 5;
    rotate: 8deg;
}

.hat2 {
    width: 150px;
    height: 20px;
    background-color: black;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    position: relative;
    top: 13px;
    left: 15px;
    z-index: 5;
    rotate: 8deg;
}

.eye{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: black;

}

/* 얼굴 */
.face{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
    background-color: rgba(240, 248, 255, 0);
    z-index: 4;
}
.mouth{
    width: 35px;
    height: 13px;
    position: relative;
    top: 20px;
    right: 18px;
    border-bottom-left-radius: 50%;
    background-color: orange;
}

/* 몸통 */
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 28px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 135px;
    left: 182px;
    margin-bottom: 10px;
    z-index: 3;
    background-color: black;
    border-radius: 100%;
}

.arm1, .arm2{
    width: 120px;
    height: 5px;
    background-color:saddlebrown;
}
.arm1{
    transform: rotate(30deg);
    position: relative;
    left: 20px;
    bottom: 10px;
}
.arm2{
    transform: rotate(-30deg);
    position: relative;
    right: 20px;
    bottom: 10px;
}

